@{
    ViewData["Title"] = "About";
}
<div style="margin-top:70px">

    <h3>@ViewData["Title"]</h3>
    <hr>
    <h4 class="text-primary">
        &copy; ADDyourAD - 2018
    </h4>
    <h5>

        Author:  <a class="text-primary" href="https://github.com/PopDiana">  Diana Pop</a>
       
    </h5>

</div>
